
<div>
  <div class="row" style="width: 84,5rem;" >  
    <mat-card> 
      <!--Colocar o titulo no card-->
      <mat-card-title style="font-size: 15px;"> Unidade de Saúde </mat-card-title><br>

      <!--Legenda do cartão-->
      <mat-card-subtitle> Verifique a unidade de saúde mais próximo de você. </mat-card-subtitle>


      <div class="container" style="width: 12rem;">  
        <mat-card style="background-color: rgb(255, 243, 177);"> 
          <!--Colocar o titulo no card-->
          <mat-card-title style="font-size: 15px;"> Unidade A </mat-card-title>

          <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
          <img mat-card-image src="https://lh3.googleusercontent.com/proxy/Z846iEiCLBgILFmqxQhElkitb3RjqLgZIP2kNG2ytIZBhONbJfrYYF9IHdTTbpUYLoecyX3iviNpJVXGUwL8RKrbWhl6mRr9Y8kRcOVgrxulWWK8JaMVBQzoqePod6gz_Fp8RL4H9ITh7Q">	

          <!--Legenda do cartão-->
          <mat-card-subtitle> Rua dos bandeirantes, 123, Belo Horizonte - MG. </mat-card-subtitle>

          <!--Recipiente para botões na parte inferior do cartão-->
        <mat-card-actions> 
          <button mat-raised-button color="primary" style="margin-bottom: 10px;"> Disponibilidade </button>   
        </mat-card-actions>
  
        </mat-card>
      </div>


      <div class="container" style="width: 12rem;">  
        <mat-card style="background-color: rgb(255, 243, 177);"> 
          <!--Colocar o titulo no card-->
          <mat-card-title style="font-size: 15px;"> Unidade B </mat-card-title>

          <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
          <img mat-card-image src="https://lh3.googleusercontent.com/proxy/Z846iEiCLBgILFmqxQhElkitb3RjqLgZIP2kNG2ytIZBhONbJfrYYF9IHdTTbpUYLoecyX3iviNpJVXGUwL8RKrbWhl6mRr9Y8kRcOVgrxulWWK8JaMVBQzoqePod6gz_Fp8RL4H9ITh7Q">	

          <!--Legenda do cartão-->
          <mat-card-subtitle> Rua dos bandeirantes, 123, Belo Horizonte - MG. </mat-card-subtitle>

          <!--Recipiente para botões na parte inferior do cartão-->
        <mat-card-actions> 
          <button mat-raised-button color="primary" style="margin-bottom: 10px;"> Disponibilidade </button>   
        </mat-card-actions>
        </mat-card>
      </div>

      <div class="container" style="width: 12rem;">  
        <mat-card style="background-color: rgb(255, 243, 177);"> 
          <!--Colocar o titulo no card-->
          <mat-card-title style="font-size: 15px;"> Unidade C </mat-card-title>

          <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
          <img mat-card-image src="https://lh3.googleusercontent.com/proxy/Z846iEiCLBgILFmqxQhElkitb3RjqLgZIP2kNG2ytIZBhONbJfrYYF9IHdTTbpUYLoecyX3iviNpJVXGUwL8RKrbWhl6mRr9Y8kRcOVgrxulWWK8JaMVBQzoqePod6gz_Fp8RL4H9ITh7Q">	

          <!--Legenda do cartão-->
          <mat-card-subtitle> Rua dos bandeirantes, 123, Belo Horizonte - MG. </mat-card-subtitle>

          <!--Recipiente para botões na parte inferior do cartão-->
        <mat-card-actions> 
          <button mat-raised-button color="primary" style="margin-bottom: 10px;"> Disponibilidade </button>   
        </mat-card-actions>
        </mat-card>
      </div>

      <div class="container" style="width: 12rem;">  
        <mat-card style="background-color: rgb(255, 243, 177);"> 
          <!--Colocar o titulo no card-->
          <mat-card-title style="font-size: 15px;"> Unidade D </mat-card-title>

          <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
          <img mat-card-image src="https://lh3.googleusercontent.com/proxy/Z846iEiCLBgILFmqxQhElkitb3RjqLgZIP2kNG2ytIZBhONbJfrYYF9IHdTTbpUYLoecyX3iviNpJVXGUwL8RKrbWhl6mRr9Y8kRcOVgrxulWWK8JaMVBQzoqePod6gz_Fp8RL4H9ITh7Q">	

          <!--Legenda do cartão-->
          <mat-card-subtitle> Rua dos bandeirantes, 123, Belo Horizonte - MG. </mat-card-subtitle>

          <!--Recipiente para botões na parte inferior do cartão-->
        <mat-card-actions> 
          <button mat-raised-button color="primary" style="margin-bottom: 10px;"> Disponibilidade </button>   
        </mat-card-actions>
        </mat-card>
      </div>

      <div class="container" style="width: 12rem;">  
        <mat-card style="background-color: rgb(255, 243, 177);"> 
          <!--Colocar o titulo no card-->
          <mat-card-title style="font-size: 15px;"> Unidade E </mat-card-title>

          <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
          <img mat-card-image src="https://lh3.googleusercontent.com/proxy/Z846iEiCLBgILFmqxQhElkitb3RjqLgZIP2kNG2ytIZBhONbJfrYYF9IHdTTbpUYLoecyX3iviNpJVXGUwL8RKrbWhl6mRr9Y8kRcOVgrxulWWK8JaMVBQzoqePod6gz_Fp8RL4H9ITh7Q">	

          <!--Legenda do cartão-->
          <mat-card-subtitle> Rua dos bandeirantes, 123, Belo Horizonte - MG. </mat-card-subtitle>

          <!--Recipiente para botões na parte inferior do cartão-->
          <mat-card-actions> 
            <button mat-raised-button color="primary" style="margin-bottom: 10px;"> Disponibilidade </button>   
          </mat-card-actions>
        </mat-card>
      </div>

    </mat-card>
  </div>
</div>


<mat-nav-list>
  <mat-list-item *ngFor="let grupo of grupo | async">
    <a matLine>{{grupo.id}} - {{ grupo.nome}}</a>

    <mat-icon>chevron_right</mat-icon>

  </mat-list-item>
</mat-nav-list>
