@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html,
body {
  height: 100%;
}

body {
  background-color:#d6e4ee; 
  //background-image: url("saude.jpg");
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row img {
    max-width:250px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-left:1%;
    margin-right:1%;
  }

.row {
  width: 16rem;
  margin-top:3mm;
  margin-left:3mm;
  margin-bottom:3mm;
  margin-right:5mm;
  display: inline-block;
}

.example-container {
    padding-left: 15px;
}


