<!--<button mat-button routerLink="/pessoa/form"> Novo</button>-->

<div >
  <mat-card>  
    <div class="row" style="width: 80rem;" >  
       
        <!--Colocar o titulo no card-->
        <mat-card-title style="font-size: 15px;"> Identificador COVID-19 </mat-card-title><br>

        <!--Legenda do cartão-->
        <mat-card-subtitle> Verifique se você possui algum sintoma de Coronavírus. </mat-card-subtitle>

       

        <!--Conteúdo do cartão principal. Destinado a blocos de texto
        <mat-card-content>  teste </mat-card-content>	-->

        <!--Seção ancorada na parte inferior do cartão
        <mat-card-footer> teste </mat-card-footer>-->
      
    </div>
  

    <div class="row" style="width: 64rem;">  
      <mat-card style="background-color: rgb(246, 251, 255);"> 
        <!--Colocar o titulo no card-->
        <mat-card-title style="font-size: 15px;"> Preencha com as informações </mat-card-title><br>
          
          <div>
            <p >
              <mat-form-field  appearance="outline">
                <mat-label>Nome </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
              
              <mat-form-field appearance="outline">
                <mat-label>Nome </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Nome </mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
            </p>
          </div>

      </mat-card>
    </div>

      <!--Conteúdo do cartão principal. Destinado a blocos de texto
      <mat-card-content>  teste </mat-card-content>	-->

      <!--Recipiente para botões na parte inferior do cartão-->
      <br><br>
      <mat-card-actions> 
        <button mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink="/pessoa"> TESTE </button>   
      </mat-card-actions>

      <!--Seção ancorada na parte inferior do cartão
      <mat-card-footer> teste </mat-card-footer>-->
      

  </mat-card>
    
  


  <mat-nav-list>
    <mat-list-item *ngFor="let pessoa of pessoa | async">
      <a matLine>{{pessoa.id}} - {{ pessoa.nome}}</a>

      <mat-icon (click)="apagar(pessoa.id)">delete</mat-icon>

    </mat-list-item>
  </mat-nav-list>

</div>

