<form #f="ngForm" (ngSubmit)="salvar(pessoa)">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="pessoa.id" name="id" type="number" id="Id" required [ngModelOptions]="{standalone: true}">

    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="pessoa.nome" nome="id" id="Nome" required [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button>Salvar</button>
</form>
