<mat-toolbar color="primary">
  <mat-icon>menu</mat-icon>
  <span style="text-align: center; margin:auto;"> Ministério da Saúde - Coronavírus (COVID-19) </span>
</mat-toolbar>

<mat-sidenav-container>
  <!--<button mat-flat-button routerLink="/pessoa">Pessoas</button>-->
  <!--<button mat-flat-button routerLink="/anotacao">Anotações</button>-->
  <!--<button mat-flat-button routerLink="/grupo"> Grupos</button>-->
</mat-sidenav-container>

<router-outlet></router-outlet>


<hr class="new">

<div class="row">

  <div class="container" style="width: 15rem;">
    <mat-card>
      <!--Colocar o titulo no card-->
      <mat-card-title style="font-size: 15px;"> Cadastro de novos pacientes </mat-card-title>

      <!--Legenda do cartão
        <mat-card-subtitle> Insira todos os dados abaixo: </mat-card-subtitle>-->

      <button mat-raised-button color="primary" style="margin-bottom: 15px;" routerLink="/pessoa/form"> Cadastrar </button>

    </mat-card>
  </div>

  <hr class="new-new">

  <div class="container" style="width: 15rem;">
    <mat-card>
      <!--Colocar o titulo no card-->
      <mat-card-title style="font-size: 15px;"> Identificador COVID-19 </mat-card-title>

      <!--Legenda do cartão-->
      <mat-card-subtitle> Verifique se você possui algum sintoma de Coronavírus. </mat-card-subtitle>

      <!--Conteúdo do cartão principal. Destinado a blocos de texto
      <mat-card-content>  teste </mat-card-content>	-->

      <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
      <img mat-card-image src="https://www.fecomercio.com.br/upload/img/2016/05/13/5735cfa46eac8-noticia_identificar_pontos_fortes_e_fracos_ajuda_no_sucesso_do_neg_cio.jpg">

      <!--Recipiente para botões na parte inferior do cartão-->
      <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink="/pessoa"> Realizar Teste </button>
      </mat-card-actions>

      <!--Seção ancorada na parte inferior do cartão
      <mat-card-footer> teste </mat-card-footer>-->
    </mat-card>
  </div>

  <div class="container" style="width: 15rem;">
    <mat-card>
      <!--Colocar o titulo no card-->
      <mat-card-title style="font-size: 15px;"> Loja de Suprimentos Médicos </mat-card-title>

      <!--Legenda do cartão-->
      <mat-card-subtitle> Procure o produto que deseja e faça a compra como desejar. </mat-card-subtitle>

      <!--Conteúdo do cartão principal. Destinado a blocos de texto
      <mat-card-content>  teste </mat-card-content>	-->

      <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
      <img mat-card-image src="https://www.fecomercio.com.br/upload/img/2016/05/13/5735cfa46eac8-noticia_identificar_pontos_fortes_e_fracos_ajuda_no_sucesso_do_neg_cio.jpg">

      <!--Recipiente para botões na parte inferior do cartão-->
      <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink="/anotacao"> Verificar lojas </button>
      </mat-card-actions>

      <!--Seção ancorada na parte inferior do cartão
      <mat-card-footer> teste </mat-card-footer>-->
    </mat-card>
  </div>

  <div class="container" style="width: 15rem;">
    <mat-card>
      <!--Colocar o titulo no card-->
      <mat-card-title style="font-size: 15px;"> Unidades de Saúde </mat-card-title>

      <!--Legenda do cartão-->
      <mat-card-subtitle> Verifique a unidade de saúde mais próximo de você. </mat-card-subtitle>

      <!--Conteúdo do cartão principal. Destinado a blocos de texto
      <mat-card-content>  teste </mat-card-content>	-->

      <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
      <img mat-card-image src="https://www.fecomercio.com.br/upload/img/2016/05/13/5735cfa46eac8-noticia_identificar_pontos_fortes_e_fracos_ajuda_no_sucesso_do_neg_cio.jpg">

      <!--Recipiente para botões na parte inferior do cartão-->
      <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink="/grupo"> Realizar Teste </button>
      </mat-card-actions>

      <!--Seção ancorada na parte inferior do cartão
      <mat-card-footer> teste </mat-card-footer>-->
    </mat-card>
  </div>

  <div class="container" style="width: 15rem;">
    <mat-card>
      <!--Colocar o titulo no card-->
      <mat-card-title style="font-size: 15px;">FAQ</mat-card-title>

      <!--Legenda do cartão-->
      <mat-card-subtitle>Perguntas e Respostas sobre o Covid-19</mat-card-subtitle>

      <!--Conteúdo do cartão principal. Destinado a blocos de texto
      <mat-card-content>  teste </mat-card-content>	-->

      <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
      <img mat-card-image src="https://www.fecomercio.com.br/upload/img/2016/05/13/5735cfa46eac8-noticia_identificar_pontos_fortes_e_fracos_ajuda_no_sucesso_do_neg_cio.jpg">

      <!--Recipiente para botões na parte inferior do cartão-->
      <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink="/faq">FAQ</button>
      </mat-card-actions>

      <!--Seção ancorada na parte inferior do cartão
      <mat-card-footer> teste </mat-card-footer>-->
    </mat-card>
  </div>

  <div class="container" style="width: 15rem;">
    <mat-card>
      <!--Colocar o titulo no card-->
      <mat-card-title style="font-size: 15px;">Ultimas Notícias</mat-card-title>

      <!--Legenda do cartão-->
      <mat-card-subtitle>Saiba as últimas notícias sobre Covid-19. </mat-card-subtitle>

      <!--Conteúdo do cartão principal. Destinado a blocos de texto
      <mat-card-content>  teste </mat-card-content>	-->

      <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
      <img mat-card-image src="https://www.fecomercio.com.br/upload/img/2016/05/13/5735cfa46eac8-noticia_identificar_pontos_fortes_e_fracos_ajuda_no_sucesso_do_neg_cio.jpg">

      <!--Recipiente para botões na parte inferior do cartão-->
      <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-bottom: 10px;" routerLink="/noticia">Últimas Notícias</button>
      </mat-card-actions>

      <!--Seção ancorada na parte inferior do cartão
      <mat-card-footer> teste </mat-card-footer>-->
    </mat-card>
  </div>


</div>

<footer>
  <br>
  <p>COVID-19<br>
    <a href="https://covid.saude.gov.br/" style="color: beige;">Coronavírus Brasil</a></p>
</footer>
