<!--<button mat-button routerLink="/anotacao/form"> Novo</button>-->


<div>
  <div class="row" style="width: 84,5rem;">
    <mat-card>
      <!--Colocar o titulo no card-->
      <mat-card-title style="font-size: 15px;"> Lojas de Suplementos Médicos </mat-card-title><br>

      <!--Legenda do cartão-->
      <mat-card-subtitle> Verifique as lojas existentes e os produtos que deseja realizar a compra. </mat-card-subtitle>


      <div>

        <div *ngFor="let loja of loja | async" class="container" style="width: 15rem;">

          <mat-card style="background-color: rgb(255, 243, 177);">
            <!--Colocar o titulo no card-->
            <mat-card-title style="font-size: 15px;"> {{loja.Id}} - {{ loja.Nome}} </mat-card-title>

            <!--Imagem do cartão. Estende a imagem para a largura do contêiner-->
            <img mat-card-image src="https://image.freepik.com/vetores-gratis/farmacia-com-enfermeira-no-balcao-personagem-de-desenho-animado-de-farmacia_36082-340.jpg">


            <!--Recipiente para botões na parte inferior do cartão-->
            <mat-card-actions>
              <button mat-raised-button color="primary" style="margin-bottom: 10px;"> Disponibilidade </button>
              <a href={{loja.Direcoes}}> <button mat-raised-button color="primary" style="margin-bottom: 10px;"> Navegar para </button></a>
              <button mat-raised-button color="primary" style="margin-bottom: 10px;" (click)="getUsuariosInfectados(loja.Localizacao.Latitude,loja.Localizacao.Longitude)">Pessoas Infectadas</button>
              <div *ngIf="usuariosInfectados;">Exitem {{usuariosInfectados.PessoasEncontradas}} pessoas infectadas num raio de {{usuariosInfectados.Raio}} metros.</div>
            </mat-card-actions>

          </mat-card>
        </div>
        <!-- <a matLine>{{loja.Id}} - {{ loja.Nome}}</a> -->


      </div>

    </mat-card>
  </div>
</div>
