@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  background-color:#d6e4ee; 
  //background-image: url("saude.jpg");
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container img {
  max-width:150px;
  max-height:100px;
  width: auto;
  height: auto;
  margin-left:1%;
  margin-right:1%;
}

.container {
  text-align: center;
  margin-top:3mm;
  margin-left:1mm;
  margin-bottom:3mm;
  margin-right:1mm;
	display: inline-block;
}

.row {
  text-align: center;
}

footer {
  text-align: center;
  padding: 4px;
  background-color: rgb(54, 129, 228);
  color: white;
}

hr.new {
  border: 10px solid rgb(75, 150, 236);
  border-radius: 5px;
}

hr.new-new {
  border: 10px solid rgb(75, 150, 236);
  border-radius: 5px;
}