<form #f="ngForm">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="anotacao.id" name="id" id="Id" required [ngModelOptions]="{standalone: true}">

    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Observação</mat-label>
      <input matInput [(ngModel)]="anotacao.obs" name="text" id="Obs" required [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput [(ngModel)]="anotacao.data" name="date" id="Data" required [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Id Pessoa</mat-label>
      <input matInput [(ngModel)]="anotacao.id_pessoa" name="number" id="IdPessoa" required [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Id Grupo</mat-label>
      <input matInput [(ngModel)]="anotacao.id_grupo" name="number" id="IdGrupo" required [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <button type="submit" mat-raised-button>Salvar</button>
</form>
